{
  "openapi": "3.1.0",
  "info": {
    "title": "Companies House Public Data API",
    "description": "An API suite providing read only access to search and retrieve public company data. Generated from the Developer Hub documentation and companieshouse/api-sdk-node by the initial-spec skill.",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.company-information.service.gov.uk"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/company/{company_number}": {
      "get": {
        "tags": ["companyProfile"],
        "operationId": "getCompanyProfile",
        "summary": "Get the basic company information",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "The company number of the basic information to return.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyProfile"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/company/{company_number}/registered-office-address": {
      "get": {
        "tags": ["registeredOfficeAddress"],
        "operationId": "getRegisteredOfficeAddress",
        "summary": "Get the current address of a company",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "Company number for registered office address",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisteredOfficeAddress"
                }
              }
            }
          },
          "401": {
            "description": "Not authorised"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/company/{company_number}/registers": {
      "get": {
        "tags": ["registers"],
        "operationId": "getRegisters",
        "summary": "Get the company registers information",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "The company number of the register information to return.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyRegister"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          }
        }
      }
    },
    "/company/{company_number}/uk-establishments": {
      "get": {
        "tags": ["ukEstablishments"],
        "operationId": "listUkEstablishments",
        "summary": "Get a list of UK Establishments for a company",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "Company number",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyUkEstablishments"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          }
        }
      }
    },
    "/company/{company_number}/filing-history": {
      "get": {
        "tags": ["filingHistory"],
        "operationId": "listFilingHistory",
        "summary": "Get the filing history list of a company",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "The company number that the filing history is required for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "One or more comma-separated categories to filter by (inclusive).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "required": false,
            "description": "The number of filing history items to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "required": false,
            "description": "The index into the entire result set that this result page starts.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Filing history items resource returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilingHistoryList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. Filing history not available for this company."
          }
        }
      }
    },
    "/company/{company_number}/filing-history/{transaction_id}": {
      "get": {
        "tags": ["filingHistory"],
        "operationId": "getFilingHistoryItem",
        "summary": "Get the filing history item of a company",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "The company number that the single filing is required for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "description": "The transaction id that the filing history is required for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Filing history items resource returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilingHistoryItem"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. Filing history not available for this company."
          }
        }
      }
    },
    "/company/{company_number}/insolvency": {
      "get": {
        "tags": ["insolvency"],
        "operationId": "getInsolvency",
        "summary": "Get company insolvency information",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "The company number of the basic information to return.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Company insolvency resource returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyInsolvency"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found. Resource not found."
          }
        }
      }
    },
    "/company/{company_number}/charges": {
      "get": {
        "tags": ["charges"],
        "operationId": "listCharges",
        "summary": "List of charges for a company",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "The company number that the charge list is required for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "required": false,
            "description": "Pagination: number of charges to return per page. Undocumented on the charges operation page; verified against the live API on 2026-07-14.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "required": false,
            "description": "Pagination: offset into the entire result set to start returning from. Undocumented on the charges operation page; verified against the live API on 2026-07-14.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Resource returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Not Found. Resource not found."
          }
        }
      }
    },
    "/company/{company_number}/charges/{charge_id}": {
      "get": {
        "tags": ["charges"],
        "operationId": "getCharge",
        "summary": "Get a charge for a company",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "charge_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Resource returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Not Found. Resource not found."
          }
        }
      }
    },
    "/company/{company_number}/exemptions": {
      "get": {
        "tags": ["exemptions"],
        "operationId": "getExemptions",
        "summary": "Get the exemptions information of a company",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "The company number that the exemptions list is required for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyExemptions"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Not Found. Resource not found."
          }
        }
      }
    },
    "/company/{company_number}/officers": {
      "get": {
        "tags": ["officers"],
        "operationId": "listOfficers",
        "summary": "Company Officers",
        "description": "List of all company officers.",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "The company number of the officer list being requested.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "required": false,
            "description": "The number of officers to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "register_type",
            "in": "query",
            "required": false,
            "description": "The register_type determines which officer type is returned for the registers view.",
            "schema": {
              "type": "string",
              "enum": ["directors", "secretaries", "llp_members"]
            }
          },
          {
            "name": "register_view",
            "in": "query",
            "required": false,
            "description": "Display register specific information. If given register is held at Companies House, registers_view set to true and correct register_type specified, only active officers will be returned. Defaults to false.",
            "schema": {
              "type": "string",
              "enum": ["true", "false"]
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "required": false,
            "description": "The offset into the entire result set that this page starts.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "description": "The field by which to order the result set.",
            "schema": {
              "type": "string",
              "enum": ["appointed_on", "resigned_on", "surname"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfficerList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorised"
          }
        }
      }
    },
    "/company/{company_number}/appointments/{appointment_id}": {
      "get": {
        "tags": ["officers"],
        "operationId": "getOfficerAppointment",
        "summary": "Get a company officer appointment",
        "description": "Get details of an individual company officer appointment.",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "The company number of the officer list being requested.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appointment_id",
            "in": "path",
            "required": true,
            "description": "The appointment id of the company officer appointment being requested.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfficerSummary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorised"
          }
        }
      }
    },
    "/officers/{officer_id}/appointments": {
      "get": {
        "tags": ["officerAppointments"],
        "operationId": "listOfficerAppointments",
        "summary": "Officer Appointment List",
        "description": "List of all officer appointments.",
        "parameters": [
          {
            "name": "officer_id",
            "in": "path",
            "required": true,
            "description": "The officer id of the appointment list being requested.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Use \"active\" to return only active appointments.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "required": false,
            "description": "The number of appointments to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "required": false,
            "description": "The first row of data to retrieve, starting at 0. Use this parameter as a pagination mechanism along with the items_per_page parameter.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorised"
          }
        }
      }
    },
    "/disqualified-officers/natural/{officer_id}": {
      "get": {
        "tags": ["officerDisqualifications"],
        "operationId": "getNaturalDisqualification",
        "summary": "Get natural officer's disqualifications",
        "description": "Get a natural officer's disqualifications.",
        "parameters": [
          {
            "name": "officer_id",
            "in": "path",
            "required": true,
            "description": "The disqualified officer's id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Natural officer's disqualifications returned",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NaturalDisqualification"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/disqualified-officers/corporate/{officer_id}": {
      "get": {
        "tags": ["officerDisqualifications"],
        "operationId": "getCorporateDisqualification",
        "summary": "Get corporate officer's disqualifications",
        "description": "Get a corporate officer's disqualifications.",
        "parameters": [
          {
            "name": "officer_id",
            "in": "path",
            "required": true,
            "description": "The disqualified officer id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorporateDisqualification"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/company/{company_number}/persons-with-significant-control": {
      "get": {
        "tags": ["personsWithSignificantControl"],
        "operationId": "listPersonsWithSignificantControl",
        "summary": "List the company persons with significant control",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "The company number of the persons with significant control list being requested.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "description": "The number of persons with significant control to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "The offset into the entire result set that this page starts.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "register_view",
            "in": "query",
            "description": "Display register specific information. If register is held at Companies House and register_view is set to true, only PSCs which are active or were terminated during election period are shown together with full dates of birth where available. Accepted values are: -`true` -`false` Defaults to false.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PscList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/company/{company_number}/persons-with-significant-control/individual/{notification_id}": {
      "get": {
        "tags": ["personsWithSignificantControl"],
        "operationId": "getIndividualPsc",
        "summary": "Get the individual person with significant control",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "The company number of the person with significant control details being requested.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "notification_id",
            "in": "path",
            "required": true,
            "description": "The notification id of the person with significant control notification being requested.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PscIndividual"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/company/{company_number}/persons-with-significant-control/individual-beneficial-owner/{notification_id}": {
      "get": {
        "tags": ["personsWithSignificantControl"],
        "operationId": "getIndividualBeneficialOwner",
        "summary": "Get the individual beneficial owner",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "The company number of the individual beneficial owner details being requested.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "notification_id",
            "in": "path",
            "required": true,
            "description": "The notification id of the individual beneficial owner notification being requested.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PscIndividualBeneficialOwner"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/company/{company_number}/persons-with-significant-control/corporate-entity/{notification_id}": {
      "get": {
        "tags": ["personsWithSignificantControl"],
        "operationId": "getCorporateEntityPsc",
        "summary": "Get the corporate entity with significant control",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "The company number of the corporate entity with significant control details being requested.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "notification_id",
            "in": "path",
            "required": true,
            "description": "The notification id of the corporate entity with significant control notification being requested.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PscCorporateEntity"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/company/{company_number}/persons-with-significant-control/corporate-entity-beneficial-owner/{notification_id}": {
      "get": {
        "tags": ["personsWithSignificantControl"],
        "operationId": "getCorporateEntityBeneficialOwner",
        "summary": "Get the corporate entity beneficial owner",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "The company number of the corporate entity beneficial owner details being requested.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "notification_id",
            "in": "path",
            "required": true,
            "description": "The notification id of the corporate entity beneficial owner notification being requested.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PscCorporateEntityBeneficialOwner"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/company/{company_number}/persons-with-significant-control/legal-person/{notification_id}": {
      "get": {
        "tags": ["personsWithSignificantControl"],
        "operationId": "getLegalPersonPsc",
        "summary": "Get the legal person with significant control",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "The company number of the legal person with significant control details being requested.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "notification_id",
            "in": "path",
            "required": true,
            "description": "The notification id of the legal person with significant control notification being requested.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PscLegalPerson"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/company/{company_number}/persons-with-significant-control/legal-person-beneficial-owner/{notification_id}": {
      "get": {
        "tags": ["personsWithSignificantControl"],
        "operationId": "getLegalPersonBeneficialOwner",
        "summary": "Get the legal person beneficial owner",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "The company number of the legal person beneficial owner details being requested.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "notification_id",
            "in": "path",
            "required": true,
            "description": "The notification id of the legal person beneficial owner notification being requested.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PscLegalPersonBeneficialOwner"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/company/{company_number}/persons-with-significant-control/super-secure/{super_secure_id}": {
      "get": {
        "tags": ["personsWithSignificantControl"],
        "operationId": "getSuperSecurePsc",
        "summary": "Get the super secure person with significant control",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "The company number of the super secure person with significant control details being requested.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "super_secure_id",
            "in": "path",
            "required": true,
            "description": "The id of the super secure person with significant control details being requested.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PscSuperSecure"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/company/{company_number}/persons-with-significant-control/super-secure-beneficial-owner/{super_secure_id}": {
      "get": {
        "tags": ["personsWithSignificantControl"],
        "operationId": "getSuperSecureBeneficialOwner",
        "summary": "Get the super secure beneficial owner",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "The company number of the super secure beneficial owner details being requested.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "super_secure_id",
            "in": "path",
            "required": true,
            "description": "The id of the super secure beneficial owner details being requested.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PscSuperSecureBeneficialOwner"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/company/{company_number}/persons-with-significant-control-statements": {
      "get": {
        "tags": ["personsWithSignificantControl"],
        "operationId": "listPscStatements",
        "summary": "List the company persons with significant control statements",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "The company number of the persons with significant control statements list being requested.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "description": "The number of persons with significant control statements to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "The offset into the entire result set that this page starts.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "register_view",
            "in": "query",
            "description": "Display register specific information. If register is held at Companies House and register_view is set to true, only statements which are active or were withdrawn during election period are shown. Accepted values are: -`true` -`false` Defaults to false.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PscStatementList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/company/{company_number}/persons-with-significant-control-statements/{statement_id}": {
      "get": {
        "tags": ["personsWithSignificantControl"],
        "operationId": "getPscStatement",
        "summary": "Get the person with significant control statement",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "The company number of the persons with significant control statements list being requested.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statement_id",
            "in": "path",
            "required": true,
            "description": "The id of the person with significant control statement details being requested.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PscStatement"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/company/{company_number}/persons-with-significant-control/{psc_id}/notifications": {
      "get": {
        "tags": ["personsWithSignificantControlNotifications"],
        "operationId": "listPscNotifications",
        "summary": "List the person with significant control notifications",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "description": "The company number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "psc_id",
            "in": "path",
            "required": true,
            "description": "The person with significant control id of the notification list being requested",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Use \"active\" to return only active notifications.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "description": "The number of notifications to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "The first row of data to retrieve, starting at 0. Use this parameter as a pagination mechanism along with the items_per_page parameter.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List the person with significant control notifications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PscNotificationList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorised"
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": ["search"],
        "operationId": "searchAll",
        "summary": "Search All",
        "description": "Search companies, officers and disqualified officers",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The term being searched for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "required": false,
            "description": "The number of search results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "required": false,
            "description": "The index of the first result item to return.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Search"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Not authorised."
          }
        }
      }
    },
    "/search/companies": {
      "get": {
        "tags": ["search"],
        "operationId": "searchCompanies",
        "summary": "Search companies",
        "description": "Search company information",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The term being searched for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "required": false,
            "description": "The number of search results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "required": false,
            "description": "The index of the first result item to return.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "restrictions",
            "in": "query",
            "required": false,
            "description": "Enumerable options to restrict search results. Space separate multiple restriction options to combine functionality.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySearch"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Not authorised."
          }
        }
      }
    },
    "/search/officers": {
      "get": {
        "tags": ["search"],
        "operationId": "searchOfficers",
        "summary": "Search company officers",
        "description": "Search for officer information",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The term being searched for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "required": false,
            "description": "The number of search results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "required": false,
            "description": "The index of the first result item to return.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfficerSearch"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Not authorised."
          }
        }
      }
    },
    "/search/disqualified-officers": {
      "get": {
        "tags": ["search"],
        "operationId": "searchDisqualifiedOfficers",
        "summary": "Search disqualified officers",
        "description": "Search for disqualified officer information",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The term being searched for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "items_per_page",
            "in": "query",
            "required": false,
            "description": "The number of search results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "required": false,
            "description": "The index of the first result item to return.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisqualifiedOfficerSearch"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Not authorised."
          }
        }
      }
    },
    "/dissolved-search/companies": {
      "get": {
        "tags": ["search"],
        "operationId": "searchDissolvedCompanies",
        "summary": "Search for a dissolved company",
        "description": "Search for a dissolved company",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The company name being searched for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_type",
            "in": "query",
            "required": true,
            "description": "Determines type of search. Options are alphabetical, best-match, previous-name-dissolved",
            "schema": {
              "type": "string",
              "enum": ["alphabetical", "best-match", "previous-name-dissolved"]
            }
          },
          {
            "name": "search_above",
            "in": "query",
            "required": false,
            "description": "The ordered_alpha_key_with_id used for alphabetical paging",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_below",
            "in": "query",
            "required": false,
            "description": "The ordered_alpha_key_with_id used for alphabetical paging",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "The maximum number of results matching the search term(s) to return with a range of 1 to 100",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "required": false,
            "description": "Used in best-match and previous-name-dissolved search-type",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DissolvedCompanySearch"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. No companies found."
          },
          "422": {
            "description": "Invalid size parameter, size must be greater than zero and not greater than 100"
          }
        }
      }
    },
    "/alphabetical-search/companies": {
      "get": {
        "tags": ["search"],
        "operationId": "searchCompaniesAlphabetically",
        "summary": "Search for a company",
        "description": "Search for a company alphabetically",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The company name being searched for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_above",
            "in": "query",
            "required": false,
            "description": "The ordered_alpha_key_with_id used for paging",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_below",
            "in": "query",
            "required": false,
            "description": "The ordered_alpha_key_with_id used for paging",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "The maximum number of results matching the search term(s) to return with a range of 1 to 100",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlphabeticalCompanySearch"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. No companies found."
          },
          "422": {
            "description": "Invalid size parameter, size must be greater than zero and not greater than 100"
          }
        }
      }
    },
    "/advanced-search/companies": {
      "get": {
        "tags": ["search"],
        "operationId": "advancedCompanySearch",
        "summary": "Advanced search for a company",
        "description": "Advanced search for a company",
        "parameters": [
          {
            "name": "company_name_includes",
            "in": "query",
            "required": false,
            "description": "The company name includes advanced search filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company_name_excludes",
            "in": "query",
            "required": false,
            "description": "The company name excludes advanced search filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company_status",
            "in": "query",
            "required": false,
            "description": "The company status advanced search filter. To search using multiple values, use a comma delimited list or multiple of the same key i.e company_status=xxx&company_status=yyy",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "company_subtype",
            "in": "query",
            "required": false,
            "description": "The company subtype advanced search filter. To search using multiple values, use a comma delimited list or multiple of the same key i.e company_subtype=xxx&company_subtype=yyy",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company_type",
            "in": "query",
            "required": false,
            "description": "The company type advanced search filter. To search using multiple values, use a comma delimited list or multiple of the same key i.e company_type=xxx&company_type=yyy",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "dissolved_from",
            "in": "query",
            "required": false,
            "description": "The dissolved from date advanced search filter",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dissolved_to",
            "in": "query",
            "required": false,
            "description": "The dissolved to date advanced search filter",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "incorporated_from",
            "in": "query",
            "required": false,
            "description": "The incorporated from date advanced search filter",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "incorporated_to",
            "in": "query",
            "required": false,
            "description": "The incorporated to date advanced search filter",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "description": "The location advanced search filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sic_codes",
            "in": "query",
            "required": false,
            "description": "The SIC codes advanced search filter. To search using multiple values, use a comma delimited list or multiple of the same key i.e sic_codes=xxx&sic_codes=yyy",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "The maximum number of results matching the search term(s) to return with a range of 1 to 5000",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "required": false,
            "description": "The point at which results will start from i.e show search results from result 20 (used for paging)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvancedCompanySearch"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found. No companies found."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "API key as the username, blank password."
      }
    },
    "schemas": {
      "CompanyProfile": {
        "type": "object",
        "required": ["can_file", "company_name", "company_number", "links", "type"],
        "properties": {
          "accounts": {
            "type": "object",
            "description": "Company accounts information",
            "required": ["accounting_reference_date"],
            "properties": {
              "accounting_reference_date": {
                "type": "object",
                "description": "The Accounting Reference Date (ARD) of the company",
                "required": ["day", "month"],
                "properties": {
                  "day": {
                    "type": "integer",
                    "description": "The Accounting Reference Date (ARD) day"
                  },
                  "month": {
                    "type": "integer",
                    "description": "The Accounting Reference Date (ARD) month"
                  }
                }
              },
              "last_accounts": {
                "type": "object",
                "description": "The last company accounts filed",
                "properties": {
                  "made_up_to": {
                    "type": "string",
                    "format": "date",
                    "description": "Deprecated. Please use accounts.last_accounts.period_end_on"
                  },
                  "period_end_on": {
                    "type": "string",
                    "format": "date",
                    "description": "The last day of the most recently filed accounting period"
                  },
                  "period_start_on": {
                    "type": "string",
                    "format": "date",
                    "description": "The first day of the most recently filed accounting period"
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of the last company accounts filed",
                    "enum": [
                      "null",
                      "full",
                      "small",
                      "medium",
                      "group",
                      "dormant",
                      "interim",
                      "initial",
                      "total-exemption-full",
                      "total-exemption-small",
                      "partial-exemption",
                      "audit-exemption-subsidiary",
                      "filing-exemption-subsidiary",
                      "micro-entity",
                      "no-accounts-type-available",
                      "audited-abridged",
                      "unaudited-abridged"
                    ]
                  }
                }
              },
              "next_accounts": {
                "type": "object",
                "description": "The next company accounts filed",
                "properties": {
                  "due_on": {
                    "type": "string",
                    "format": "date",
                    "description": "The date the next company accounts are due"
                  },
                  "overdue": {
                    "type": "boolean",
                    "description": "Flag indicating if the company accounts are overdue"
                  },
                  "period_end_on": {
                    "type": "string",
                    "format": "date",
                    "description": "The last day of the next accounting period to be filed"
                  },
                  "period_start_on": {
                    "type": "string",
                    "format": "date",
                    "description": "The first day of the next accounting period to be filed"
                  }
                }
              },
              "next_due": {
                "type": "string",
                "format": "date",
                "description": "Deprecated. Please use accounts.next_accounts.due_on"
              },
              "next_made_up_to": {
                "type": "string",
                "format": "date",
                "description": "Deprecated. Please use accounts.next_accounts.period_end_on"
              },
              "overdue": {
                "type": "boolean",
                "description": "Deprecated. Please use accounts.next_accounts.overdue"
              }
            }
          },
          "annual_return": {
            "type": "object",
            "description": "Annual return information. This member is only returned if a confirmation statement has not be filed",
            "properties": {
              "last_made_up_to": {
                "type": "string",
                "format": "date",
                "description": "The date the last annual return was made up to"
              },
              "next_due": {
                "type": "string",
                "format": "date",
                "description": "The date the next annual return is due"
              },
              "next_made_up_to": {
                "type": "string",
                "format": "date",
                "description": "The date the next annual return should be made up to"
              },
              "overdue": {
                "type": "boolean",
                "description": "Flag indicating if the annual return is overdue"
              }
            }
          },
          "branch_company_details": {
            "type": "object",
            "description": "UK branch of a foreign company",
            "properties": {
              "business_activity": {
                "type": "string",
                "description": "Type of business undertaken by the UK establishment"
              },
              "parent_company_name": {
                "type": "string",
                "description": "Parent company name"
              },
              "parent_company_number": {
                "type": "string",
                "description": "Parent company number"
              }
            }
          },
          "can_file": {
            "type": "boolean",
            "description": "Flag indicating whether this company can file"
          },
          "company_name": {
            "type": "string",
            "description": "The name of the company"
          },
          "company_number": {
            "type": "string",
            "description": "The number of the company"
          },
          "company_status": {
            "type": "string",
            "description": "The status of the company",
            "enum": [
              "active",
              "dissolved",
              "liquidation",
              "receivership",
              "administration",
              "voluntary-arrangement",
              "converted-closed",
              "insolvency-proceedings",
              "registered",
              "removed",
              "closed",
              "open"
            ]
          },
          "company_status_detail": {
            "type": "string",
            "description": "Extra details about the status of the company",
            "enum": [
              "transferred-from-uk",
              "active-proposal-to-strike-off",
              "petition-to-restore-dissolved",
              "transformed-to-se",
              "converted-to-plc"
            ]
          },
          "confirmation_statement": {
            "type": "object",
            "description": "Confirmation statement information (N.B. refers to the Annual Statement where type is registered-overseas-entity)",
            "required": ["next_made_up_to"],
            "properties": {
              "last_made_up_to": {
                "type": "string",
                "format": "date",
                "description": "The date to which the company last made a confirmation statement"
              },
              "next_due": {
                "type": "string",
                "format": "date",
                "description": "The date by which the next confimation statement must be received"
              },
              "next_made_up_to": {
                "type": "string",
                "format": "date",
                "description": "The date to which the company must next make a confirmation statement"
              },
              "overdue": {
                "type": "boolean",
                "description": "Flag indicating if the confirmation statement is overdue"
              }
            }
          },
          "corporate_annotation": {
            "type": "array",
            "description": "A corporate level message published by Companies House",
            "items": {
              "type": "object",
              "required": ["created_on", "type"],
              "properties": {
                "created_on": {
                  "type": "string",
                  "format": "date",
                  "description": "The date on which the corporate annotation was created"
                },
                "description": {
                  "type": "string",
                  "description": "The details of a corporate annotation which has a corporate_annotation.type of \"other\""
                },
                "type": {
                  "type": "string",
                  "description": "The type of corporate annotation"
                }
              }
            }
          },
          "date_of_cessation": {
            "type": "string",
            "format": "date",
            "description": "The date which the company was converted/closed, dissolved or removed"
          },
          "date_of_creation": {
            "type": "string",
            "format": "date",
            "description": "The date when the company was created"
          },
          "etag": {
            "type": "string",
            "description": "The ETag of the resource"
          },
          "external_registration_number": {
            "type": "string",
            "description": "The number given by an external registration body"
          },
          "foreign_company_details": {
            "type": "object",
            "description": "Foreign company details",
            "properties": {
              "accounting_requirement": {
                "type": "object",
                "description": "Accounts requirement",
                "properties": {
                  "foreign_account_type": {
                    "type": "string",
                    "description": "Type of accounting requirement that applies",
                    "enum": [
                      "accounting-requirements-of-originating-country-apply",
                      "accounting-requirements-of-originating-country-do-not-apply"
                    ]
                  },
                  "terms_of_account_publication": {
                    "type": "string",
                    "description": "Describes how the publication date is derived",
                    "enum": [
                      "accounts-publication-date-supplied-by-company",
                      "accounting-publication-date-does-not-need-to-be-supplied-by-company",
                      "accounting-reference-date-allocated-by-companies-house"
                    ]
                  }
                }
              },
              "accounts": {
                "type": "object",
                "description": "Foreign company account information",
                "properties": {
                  "account_period_from": {
                    "type": "object",
                    "description": "Date account period starts under parent law",
                    "properties": {
                      "day": {
                        "type": "integer",
                        "description": "Day on which accounting period starts under parent law"
                      },
                      "month": {
                        "type": "integer",
                        "description": "Month in which accounting period starts under parent law"
                      }
                    }
                  },
                  "account_period_to": {
                    "type": "object",
                    "description": "Date account period ends under parent law",
                    "properties": {
                      "day": {
                        "type": "integer",
                        "description": "Day on which accounting period ends under parent law"
                      },
                      "month": {
                        "type": "integer",
                        "description": "Month in which accounting period ends under parent law"
                      }
                    }
                  },
                  "must_file_within": {
                    "type": "object",
                    "description": "Time allowed from period end for disclosure of accounts under parent law",
                    "properties": {
                      "months": {
                        "type": "integer",
                        "description": "Number of months within which to file"
                      }
                    }
                  }
                }
              },
              "business_activity": {
                "type": "string",
                "description": "Type of business undertaken by the company"
              },
              "company_type": {
                "type": "string",
                "description": "Legal form of the company in the country of incorporation"
              },
              "governed_by": {
                "type": "string",
                "description": "Law governing the company in country of incorporation"
              },
              "is_a_credit_finance_institution": {
                "type": "boolean",
                "description": "Is it a financial or credit institution"
              },
              "originating_registry": {
                "type": "object",
                "description": "Company origin informations",
                "properties": {
                  "country": {
                    "type": "string",
                    "description": "Country in which company was incorporated"
                  },
                  "name": {
                    "type": "string",
                    "description": "Identity of register in country of incorporation"
                  }
                }
              },
              "registration_number": {
                "type": "string",
                "description": "Registration number in company of incorporation"
              }
            }
          },
          "has_been_liquidated": {
            "type": "boolean",
            "description": "Deprecated. Please use links.insolvency"
          },
          "has_charges": {
            "type": "boolean",
            "description": "Deprecated. Please use links.charges"
          },
          "has_insolvency_history": {
            "type": "boolean",
            "description": "Deprecated. Please use links.insolvency"
          },
          "is_community_interest_company": {
            "type": "boolean",
            "description": "Deprecated. Please use subtype"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction specifies the political body responsible for the company",
            "enum": [
              "england-wales",
              "wales",
              "scotland",
              "northern-ireland",
              "european-union",
              "united-kingdom",
              "england",
              "noneu"
            ]
          },
          "last_full_members_list_date": {
            "type": "string",
            "format": "date",
            "description": "The date of last full members list update"
          },
          "links": {
            "type": "object",
            "description": "A set of URLs related to the resource, including self",
            "required": ["self"],
            "properties": {
              "charges": {
                "type": "string",
                "description": "The URL of the company's charges list resource"
              },
              "exemptions": {
                "type": "string",
                "description": "The URL of the company's exemptions list resource"
              },
              "filing_history": {
                "type": "string",
                "description": "The URL of the company's filing history list resource"
              },
              "insolvency": {
                "type": "string",
                "description": "The URL of the company's insolvency list resource"
              },
              "officers": {
                "type": "string",
                "description": "The URL of the company's officer list resource"
              },
              "overseas": {
                "type": "string",
                "description": "The URL of the overseas details resource for this company"
              },
              "persons_with_significant_control": {
                "type": "string",
                "description": "The URL of the persons with significant control list resource"
              },
              "persons_with_significant_control_statements": {
                "type": "string",
                "description": "The URL of the persons with significant control statements list resource"
              },
              "registers": {
                "type": "string",
                "description": "The URL of the registers resource for this company"
              },
              "self": {
                "type": "string",
                "description": "The URL of the resource"
              },
              "uk-establishments": {
                "type": "string",
                "description": "The URL of the uk establishments list resource for this company"
              }
            }
          },
          "partial_data_available": {
            "type": "string",
            "description": "Returned if Companies House is not the primary source of data",
            "enum": [
              "full-data-available-from-financial-conduct-authority",
              "full-data-available-from-department-of-the-economy",
              "full-data-available-from-the-company"
            ]
          },
          "previous_company_names": {
            "type": "array",
            "description": "The previous names of this company",
            "items": {
              "type": "object",
              "required": ["ceased_on", "effective_from", "name"],
              "properties": {
                "ceased_on": {
                  "type": "string",
                  "format": "date",
                  "description": "The date on which the company name ceased"
                },
                "effective_from": {
                  "type": "string",
                  "format": "date",
                  "description": "The date from which the company name was effective"
                },
                "name": {
                  "type": "string",
                  "description": "The previous company name"
                }
              }
            }
          },
          "registered_office_address": {
            "type": "object",
            "description": "The address of the company's registered office",
            "properties": {
              "address_line_1": {
                "type": "string",
                "description": "The first line of the address"
              },
              "address_line_2": {
                "type": "string",
                "description": "The second line of the address"
              },
              "care_of": {
                "type": "string",
                "description": "The care of name"
              },
              "country": {
                "type": "string",
                "description": "The country",
                "enum": [
                  "Wales",
                  "England",
                  "Scotland",
                  "Great Britain",
                  "Not specified",
                  "United Kingdom",
                  "Northern Ireland"
                ]
              },
              "locality": {
                "type": "string",
                "description": "The locality e.g London"
              },
              "po_box": {
                "type": "string",
                "description": "The post-office box number"
              },
              "postal_code": {
                "type": "string",
                "description": "The postal code e.g CF14 3UZ"
              },
              "premises": {
                "type": "string",
                "description": "The property name or number"
              },
              "region": {
                "type": "string",
                "description": "The region e.g Surrey"
              }
            }
          },
          "registered_office_is_in_dispute": {
            "type": "boolean",
            "description": "Flag indicating registered office address as been replaced"
          },
          "service_address": {
            "type": "object",
            "description": "The correspondence address of a Registered overseas entity",
            "properties": {
              "address_line_1": {
                "type": "string",
                "description": "The first line of the address"
              },
              "address_line_2": {
                "type": "string",
                "description": "The second line of the address"
              },
              "care_of": {
                "type": "string",
                "description": "The care of name"
              },
              "country": {
                "type": "string",
                "description": "The country e.g. United Kingdom"
              },
              "locality": {
                "type": "string",
                "description": "The locality e.g London"
              },
              "po_box": {
                "type": "string",
                "description": "The post-office box number"
              },
              "postal_code": {
                "type": "string",
                "description": "The postal code e.g CF14 3UZ"
              },
              "region": {
                "type": "string",
                "description": "The region e.g Surrey"
              }
            }
          },
          "sic_codes": {
            "type": "array",
            "description": "SIC codes for this company",
            "items": {
              "type": "string"
            }
          },
          "subtype": {
            "type": "string",
            "description": "The subtype of the company",
            "enum": ["community-interest-company", "private-fund-limited-partnership"]
          },
          "super_secure_managing_officer_count": {
            "type": "integer",
            "description": "The total count of super secure managing officers for a registered-overseas-entity"
          },
          "type": {
            "type": "string",
            "description": "The type of the company",
            "enum": [
              "private-unlimited",
              "ltd",
              "plc",
              "old-public-company",
              "private-limited-guarant-nsc-limited-exemption",
              "limited-partnership",
              "private-limited-guarant-nsc",
              "converted-or-closed",
              "private-unlimited-nsc",
              "private-limited-shares-section-30-exemption",
              "protected-cell-company",
              "assurance-company",
              "oversea-company",
              "eeig",
              "icvc-securities",
              "icvc-warrant",
              "icvc-umbrella",
              "registered-society-non-jurisdictional",
              "industrial-and-provident-society",
              "northern-ireland",
              "northern-ireland-other",
              "royal-charter",
              "investment-company-with-variable-capital",
              "unregistered-company",
              "llp",
              "other",
              "european-public-limited-liability-company-se",
              "uk-establishment",
              "scottish-partnership",
              "charitable-incorporated-organisation",
              "scottish-charitable-incorporated-organisation",
              "further-education-or-sixth-form-college-corporation",
              "registered-overseas-entity"
            ]
          },
          "undeliverable_registered_office_address": {
            "type": "boolean",
            "description": "Flag indicating whether post can be delivered to the registered office"
          }
        }
      },
      "RegisteredOfficeAddress": {
        "type": "object",
        "required": [
          "accept_appropriate_office_address_statement",
          "address_line_1",
          "country",
          "locality",
          "postal_code",
          "premises"
        ],
        "properties": {
          "accept_appropriate_office_address_statement": {
            "type": "boolean",
            "description": "Setting this to true confirms that the new registered office address is an appropriate address as outlined in section 86(2) of the Companies Act 2006."
          },
          "address_line_1": {
            "type": "string",
            "description": "The first line of the address."
          },
          "address_line_2": {
            "type": "string",
            "description": "The second line of the address."
          },
          "country": {
            "type": "string",
            "description": "The country.",
            "enum": [
              "England",
              "Wales",
              "Scotland",
              "Northern Ireland",
              "Great Britain",
              "United Kingdom",
              "Not specified"
            ]
          },
          "etag": {
            "type": "string",
            "readOnly": true,
            "description": "The ETag of the resource."
          },
          "kind": {
            "type": "string",
            "readOnly": true,
            "description": "The type of resource.",
            "enum": ["registered-office-address"]
          },
          "links": {
            "type": "object",
            "readOnly": true,
            "description": "Links to the related resources",
            "properties": {
              "self": {
                "type": "string",
                "format": "uri",
                "readOnly": true,
                "description": "URL to this resource."
              }
            }
          },
          "locality": {
            "type": "string",
            "description": "The locality e.g London."
          },
          "postal_code": {
            "type": "string",
            "description": "The postal code e.g CF14 3UZ."
          },
          "premises": {
            "type": "string",
            "description": "The property name or number."
          },
          "region": {
            "type": "string",
            "description": "The region e.g Surrey."
          }
        }
      },
      "CompanyRegister": {
        "type": "object",
        "required": ["company_number", "kind", "links", "registers"],
        "properties": {
          "company_number": {
            "type": "string",
            "description": "The number of the company"
          },
          "etag": {
            "type": "string",
            "description": "The ETag of the resource"
          },
          "kind": {
            "type": "string",
            "enum": ["registers"]
          },
          "links": {
            "type": "object",
            "description": "A set of URLs related to the resource, including self",
            "required": ["self"],
            "properties": {
              "self": {
                "type": "string",
                "description": "The URL of the resource"
              }
            }
          },
          "registers": {
            "type": "object",
            "description": "Company register information",
            "required": [
              "directors",
              "members",
              "persons_with_significant_control",
              "secretaries",
              "usual_residential_address"
            ],
            "properties": {
              "directors": {
                "type": "object",
                "description": "List of registered directors",
                "required": ["items", "register_type"],
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/RegisterItem"
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "directors_register": {
                        "type": "string",
                        "description": "Applies to directors register"
                      }
                    }
                  },
                  "register_type": {
                    "type": "string",
                    "description": "Classification of register",
                    "enum": ["directors"]
                  }
                }
              },
              "llp_members": {
                "type": "object",
                "description": "List of registered LLP members",
                "required": ["items", "register_type"],
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/RegisterItem"
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "llp_members": {
                        "type": "string",
                        "description": "Applies to LLP members register"
                      }
                    }
                  },
                  "register_type": {
                    "type": "string",
                    "description": "Classification of register",
                    "enum": ["llp_members"]
                  }
                }
              },
              "llp_usual_residential_address": {
                "type": "object",
                "description": "LLP member address register",
                "required": ["items", "register_type"],
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/RegisterItem"
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "llp_usual_residential_address": {
                        "type": "string",
                        "description": "Applies to LLP addresses register"
                      }
                    }
                  },
                  "register_type": {
                    "type": "string",
                    "description": "Classification of register",
                    "enum": ["llp-usual-residential-address"]
                  }
                }
              },
              "members": {
                "type": "object",
                "description": "List of registered company members",
                "required": ["items", "register_type"],
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/RegisterItem"
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "members": {
                        "type": "string",
                        "description": "Applies to members register"
                      }
                    }
                  },
                  "register_type": {
                    "type": "string",
                    "description": "Classification of register",
                    "enum": ["members"]
                  }
                }
              },
              "persons_with_significant_control": {
                "type": "object",
                "description": "PSC register entries",
                "required": ["items", "register_type"],
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/RegisterItem"
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "persons_with_significant_control_register": {
                        "type": "string",
                        "description": "Applies to PSC register"
                      }
                    }
                  },
                  "register_type": {
                    "type": "string",
                    "description": "Classification of register",
                    "enum": ["persons-with-significant-control"]
                  }
                }
              },
              "secretaries": {
                "type": "object",
                "description": "List of registered secretaries",
                "required": ["items", "register_type"],
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/RegisterItem"
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "secretaries_register": {
                        "type": "string",
                        "description": "Applies to secretaries register"
                      }
                    }
                  },
                  "register_type": {
                    "type": "string",
                    "description": "Classification of register",
                    "enum": ["secretaries"]
                  }
                }
              },
              "usual_residential_address": {
                "type": "object",
                "description": "Director address register",
                "required": ["items", "register_type"],
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/RegisterItem"
                    }
                  },
                  "links": {
                    "type": "object",
                    "properties": {
                      "usual_residential_address": {
                        "type": "string",
                        "description": "Applies to addresses register"
                      }
                    }
                  },
                  "register_type": {
                    "type": "string",
                    "description": "Classification of register",
                    "enum": ["usual-residential-address"]
                  }
                }
              }
            }
          }
        }
      },
      "RegisterItem": {
        "type": "object",
        "required": ["links", "moved_on", "register_moved_to"],
        "properties": {
          "links": {
            "type": "object",
            "required": ["filing"],
            "properties": {
              "filing": {
                "type": "string",
                "description": "The URL of the transaction"
              }
            }
          },
          "moved_on": {
            "type": "string",
            "format": "date",
            "description": "Registration date"
          },
          "register_moved_to": {
            "type": "string",
            "description": "Storage location",
            "enum": [
              "public-register",
              "registered-office",
              "single-alternative-inspection-location",
              "unspecified-location"
            ]
          }
        }
      },
      "CompanyUkEstablishments": {
        "type": "object",
        "required": ["etag", "items"],
        "properties": {
          "etag": {
            "type": "string",
            "description": "The ETag of the resource."
          },
          "items": {
            "type": "array",
            "description": "List of UK Establishment companies",
            "items": {
              "type": "object",
              "required": ["company_name", "company_number", "company_status", "links"],
              "properties": {
                "company_name": {
                  "type": "string",
                  "description": "The name of the company."
                },
                "company_number": {
                  "type": "string",
                  "description": "The number of the company."
                },
                "company_status": {
                  "type": "string",
                  "description": "Company status."
                },
                "links": {
                  "type": "object",
                  "description": "Resources related to this company",
                  "required": ["company"],
                  "properties": {
                    "company": {
                      "type": "string",
                      "description": "The link to the company."
                    }
                  }
                },
                "locality": {
                  "type": "string",
                  "description": "The locality e.g London."
                }
              }
            }
          },
          "kind": {
            "type": "string",
            "description": "UK Establishment companies.",
            "enum": ["ukestablishment-companies"]
          },
          "links": {
            "type": "object",
            "description": "UK Establishment Resources related to this company",
            "properties": {
              "self": {
                "type": "string",
                "description": "Link to this company"
              }
            }
          }
        }
      },
      "FilingHistoryList": {
        "type": "object",
        "required": ["etag", "items", "items_per_page", "kind", "start_index", "total_count"],
        "properties": {
          "etag": {
            "type": "string",
            "description": "The ETag of the resource."
          },
          "filing_history_status": {
            "type": "string",
            "description": "The status of this filing history.",
            "enum": ["filing-history-available"]
          },
          "items": {
            "type": "array",
            "description": "The filing history items.",
            "items": {
              "$ref": "#/components/schemas/FilingHistoryItem"
            }
          },
          "items_per_page": {
            "type": "integer",
            "description": "The number of filing history items returned per page."
          },
          "kind": {
            "type": "string",
            "description": "Indicates this resource is a filing history.",
            "enum": ["filing-history"]
          },
          "start_index": {
            "type": "integer",
            "description": "The index into the entire result set that this result page starts."
          },
          "total_count": {
            "type": "integer",
            "description": "The total number of filing history items for this company."
          }
        }
      },
      "FilingHistoryItem": {
        "type": "object",
        "required": ["category", "date", "description", "transaction_id", "type"],
        "properties": {
          "annotations": {
            "type": "array",
            "description": "Annotations for the filing",
            "items": {
              "$ref": "#/components/schemas/FilingHistoryItemAnnotation"
            }
          },
          "associated_filings": {
            "type": "array",
            "description": "Any filings associated with the current item",
            "items": {
              "$ref": "#/components/schemas/FilingHistoryItemAssociatedFiling"
            }
          },
          "barcode": {
            "type": "string",
            "description": "The barcode of the document."
          },
          "category": {
            "type": "string",
            "description": "The category of the document filed.",
            "enum": [
              "accounts",
              "address",
              "annual-return",
              "capital",
              "change-of-name",
              "incorporation",
[...]
