{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Companies House Public Data API",
    "description": "An API suite providing read only access to search and retrieve public company data"
  },
  "host": "api.company-information.service.gov.uk",
  "schemes": ["https", "http"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [
    {
      "name": "registeredOfficeAddress",
      "description": "Registered office address",
      "x-displayName": "Registered office address"
    },
    {
      "name": "companyProfile",
      "description": "Company profile",
      "x-displayName": "Company profile"
    },
    {
      "name": "search",
      "description": "Search",
      "x-displayName": "Search"
    },
    {
      "name": "officers",
      "description": "Officers",
      "x-displayName": "Officers"
    },
    {
      "name": "registers",
      "description": "Registers",
      "x-displayName": "Registers"
    },
    {
      "name": "charges",
      "description": "Charges",
      "x-displayName": "Charges"
    },
    {
      "name": "filingHistory",
      "description": "Filing history",
      "x-displayName": "Filing history"
    },
    {
      "name": "insolvency",
      "description": "Insolvency",
      "x-displayName": "Insolvency"
    },
    {
      "name": "exemptions",
      "description": "Exemptions",
      "x-displayName": "Exemptions"
    },
    {
      "name": "officerDisqualifications",
      "description": "Officer disqualifications",
      "x-displayName": "Officer disqualifications"
    },
    {
      "name": "officerAppointments",
      "description": "Officer appointments",
      "x-displayName": "Officer appointments"
    },
    {
      "name": "UKEstablishments",
      "description": "UK Establishments",
      "x-displayName": "UK Establishments"
    },
    {
      "name": "personsWithSignificantControl",
      "description": "Persons with significant control",
      "x-displayName": "Persons with significant control"
    },
    {
      "name": "personsWithSignificantControlNotifications",
      "description": "Persons with significant control notifications",
      "x-displayName": "Persons with significant control notifications"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "summary": "Search All",
        "description": "Search companies, officers and disqualified officers",
        "x-operationName": "search all",
        "tags": ["search"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The term being searched for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "items_per_page",
            "in": "query",
            "description": "The number of search results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "The index of the first result item to return.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Search all",
            "schema": {
              "$ref": "#/definitions/Search"
            }
          },
          "401": {
            "description": "Not authorised"
          }
        },
        "operationId": "searchAll"
      }
    },
    "/search/companies": {
      "get": {
        "summary": "Search companies",
        "description": "Search company information",
        "x-operationName": "search companies",
        "tags": ["search"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The term being searched for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "items_per_page",
            "in": "query",
            "description": "The number of search results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "The index of the first result item to return.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "restrictions",
            "in": "query",
            "description": "Enumerable options to restrict search results. Space separate multiple restriction options to combine functionality. For a \"company name availability\" search use \"active-companies legally-equivalent-company-name\" together.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Search company",
            "schema": {
              "$ref": "#/definitions/CompanySearch"
            }
          },
          "401": {
            "description": "Not authorised"
          }
        },
        "operationId": "searchCompanies"
      }
    },
    "/search/officers": {
      "get": {
        "summary": "Search company officers",
        "description": "Search for officer information",
        "x-operationName": "search officers",
        "tags": ["search"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The term being searched for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "items_per_page",
            "in": "query",
            "description": "The number of search results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "The index of the first result item to return.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Search officer",
            "schema": {
              "$ref": "#/definitions/OfficerSearch"
            }
          },
          "401": {
            "description": "Not authorised"
          }
        },
        "operationId": "searchOfficers"
      }
    },
    "/search/disqualified-officers": {
      "get": {
        "summary": "Search disqualified officers",
        "description": "Search for disqualified officer information",
        "x-operationName": "search disqualified officers",
        "tags": ["search"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The term being searched for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "items_per_page",
            "in": "query",
            "description": "The number of search results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "The index of the first result item to return.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Search all",
            "schema": {
              "$ref": "#/definitions/DisqualifiedOfficerSearch"
            }
          },
          "401": {
            "description": "Not authorised"
          }
        },
        "operationId": "searchDisqualifiedOfficers"
      }
    },
    "/dissolved-search/companies": {
      "get": {
        "summary": "Search for a dissolved company",
        "description": "Search for a dissolved company",
        "x-operationName": "search dissolved companies",
        "tags": ["search"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The company name being searched for",
            "required": true,
            "type": "string"
          },
          {
            "name": "search_type",
            "in": "query",
            "description": "Determines type of search. Options are alphabetical, best-match, previous-name-dissolved",
            "required": true,
            "type": "string"
          },
          {
            "name": "search_above",
            "in": "query",
            "description": "The ordered_alpha_key_with_id used for alphabetical paging",
            "required": false,
            "type": "string"
          },
          {
            "name": "search_below",
            "in": "query",
            "description": "The ordered_alpha_key_with_id used for alphabetical paging",
            "required": false,
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "The maximum number of results matching the search term(s) to return with a range of 1 to 100",
            "required": false,
            "type": "string"
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "Used in best-match and previous-name-dissolved search-type",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of dissolved companies",
            "schema": {
              "$ref": "#/definitions/dissolvedCompanySearch"
            }
          },
          "404": {
            "description": "No companies found"
          },
          "422": {
            "description": "Invalid size parameter, size must be greater than zero and not greater than 100"
          }
        },
        "operationId": "searchDissolvedCompanies"
      }
    },
    "/alphabetical-search/companies": {
      "get": {
        "summary": "Search for a company",
        "description": "Search for a company",
        "x-operationName": "search companies alphabetically",
        "tags": ["search"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The company name being searched for",
            "required": true,
            "type": "string"
          },
          {
            "name": "search_above",
            "in": "query",
            "description": "The ordered_alpha_key_with_id used for paging",
            "required": false,
            "type": "string"
          },
          {
            "name": "search_below",
            "in": "query",
            "description": "The ordered_alpha_key_with_id used for paging",
            "required": false,
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "The maximum number of results matching the search term(s) to return with a range of 1 to 100",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of companies",
            "schema": {
              "$ref": "#/definitions/alphabeticalCompanySearch"
            }
          },
          "404": {
            "description": "No companies found"
          },
          "422": {
            "description": "Invalid size parameter, size must be greater than zero and not greater than 100"
          }
        },
        "operationId": "searchCompaniesAlphabetically"
      }
    },
    "/advanced-search/companies": {
      "get": {
        "summary": "Advanced search for a company",
        "description": "Advanced search for a company",
        "x-operationName": "advanced company search",
        "tags": ["search"],
        "parameters": [
          {
            "name": "company_name_includes",
            "in": "query",
            "description": "The company name includes advanced search filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "company_name_excludes",
            "in": "query",
            "description": "The company name excludes advanced search filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "company_status",
            "in": "query",
            "description": "The company status advanced search filter. To search using multiple values, use a comma delimited list or multiple of the same key i.e. company_status=xxx&company_status=yyy",
            "required": false,
            "type": "list"
          },
          {
            "name": "company_subtype",
            "in": "query",
            "description": "The company subtype advanced search filter. To search using multiple values, use a comma delimited list or multiple of the same key i.e. company_subtype=xxx&company_subtype=yyy",
            "required": false,
            "type": "string"
          },
          {
            "name": "company_type",
            "in": "query",
            "description": "The company type advanced search filter. To search using multiple values, use a comma delimited list or multiple of the same key i.e. company_type=xxx&company_type=yyy",
            "required": false,
            "type": "list"
          },
          {
            "name": "dissolved_from",
            "in": "query",
            "description": "The dissolved from date advanced search filter",
            "required": false,
            "type": "date"
          },
          {
            "name": "dissolved_to",
            "in": "query",
            "description": "The dissolved to date advanced search filter",
            "required": false,
            "type": "date"
          },
          {
            "name": "incorporated_from",
            "in": "query",
            "description": "The incorporated from date advanced search filter",
            "required": false,
            "type": "date"
          },
          {
            "name": "incorporated_to",
            "in": "query",
            "description": "The incorporated to date advanced search filter",
            "required": false,
            "type": "date"
          },
          {
            "name": "location",
            "in": "query",
            "description": "The location advanced search filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "sic_codes",
            "in": "query",
            "description": "The SIC codes advanced search filter. To search using multiple values, use a comma delimited list or multiple of the same key i.e. sic_codes=xxx&sic_codes=yyy",
            "required": false,
            "type": "list"
          },
          {
            "name": "size",
            "in": "query",
            "description": "The maximum number of results matching the search term(s) to return with a range of 1 to 5000",
            "required": false,
            "type": "string"
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "The point at which results will start from i.e show search results from result 20 (used for paging)",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of companies",
            "schema": {
              "$ref": "#/definitions/advancedCompanySearch"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "No companies found"
          }
        },
        "operationId": "advancedCompanySearch"
      }
    },
    "/company/{company_number}/officers": {
      "get": {
        "summary": "Company Officers",
        "description": "List of all company officers",
        "x-operationName": "list",
        "tags": ["officers"],
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "description": "The company number of the officer list being requested.",
            "required": true,
            "type": "string"
          },
          {
            "name": "items_per_page",
            "in": "query",
            "description": "The number of officers to return per page.",
            "type": "integer",
            "required": false
          },
          {
            "name": "register_type",
            "in": "query",
            "description": "The register_type determines which officer type is returned for the registers view.The register_type field will only work if registers_view is set to true",
            "type": "string",
            "enum": ["directors", "secretaries", "llp_members"]
          },
          {
            "name": "register_view",
            "in": "query",
            "description": "Display register specific information. If given register is held at Companies House, registers_view set to true and correct register_type specified, only active officers will be returned. Defaults to false",
            "type": "string",
            "enum": ["true", "false"],
            "required": false
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "The offset into the entire result set that this page starts.",
            "type": "integer",
            "required": false
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "The field by which to order the result set.",
            "type": "string",
            "enum": ["appointed_on", "resigned_on", "surname"]
          }
        ],
        "responses": {
          "200": {
            "description": "List the company officers",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/officerList"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Unauthorised"
          }
        },
        "operationId": "listOfficers"
      }
    },
    "/company/{company_number}/appointments/{appointment_id}": {
      "get": {
        "summary": "Get a company officer appointment",
        "description": "Get details of an individual company officer appointment",
        "tags": ["officers"],
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "description": "The company number of the officer list being requested.",
            "required": true,
            "type": "string"
          },
          {
            "name": "appointment_id",
            "in": "path",
            "description": "The appointment id of the company officer appointment being requested.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a company officer appointment",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/officerSummary"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Unauthorised"
          }
        },
        "operationId": "getOfficerAppointment"
      }
    },
    "/company/{company_number}/registers": {
      "get": {
        "summary": "Company registers",
        "tags": ["registers"],
        "description": "Get the company registers information",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "description": "The company number of the register information to return.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "readCompanyRegister",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/companyRegister"
            }
          },
          "401": {
            "description": "Unauthorised"
          }
        },
        "operationId": "getRegisters"
      }
    },
    "/company/{company_number}/filing-history/{transaction_id}": {
      "get": {
        "summary": "filingHistoryItem resource",
        "description": "Get the filing history item of a company",
        "tags": ["filingHistory"],
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "description": "The company number that the single filing is required for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "transaction_id",
            "in": "path",
            "description": "The transaction id that the filing history is required for.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Filing history items resource returned",
            "schema": {
              "$ref": "#/definitions/filingHistoryItem"
            }
          },
          "401": {
            "description": "Unauthorised",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Filing history not available for this company"
          }
        },
        "operationId": "getFilingHistoryItem"
      }
    },
    "/company/{company_number}/filing-history": {
      "get": {
        "summary": "filingHistoryList resource",
        "description": "Get the filing history list of a company",
        "x-operationName": "list",
        "tags": ["filingHistory"],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "One or more comma-separated categories to filter by (inclusive).",
            "required": false,
            "type": "string"
          },
          {
            "name": "company_number",
            "in": "path",
            "description": "The company number that the filing history is required for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "items_per_page",
            "in": "query",
            "description": "The number of filing history items to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "The index into the entire result set that this result page starts.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Filing history items resource returned",
            "schema": {
              "$ref": "#/definitions/filingHistoryList"
            }
          },
          "401": {
            "description": "Unauthorised",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Filing history not available for this company"
          }
        },
        "operationId": "listFilingHistory"
      }
    },
    "/company/{company_number}/exemptions": {
      "get": {
        "description": "Company exemptions information",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "description": "The company number that the exemptions list is required for.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["exemptions"],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/companyExemptions"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "operationId": "getExemptions"
      }
    },
    "/disqualified-officers/natural/{officer_id}": {
      "get": {
        "summary": "Get natural officers disqualifications",
        "description": "Get a natural officer's disqualifications",
        "x-operationName": "get natural officer",
        "tags": ["officerDisqualifications"],
        "parameters": [
          {
            "name": "officer_id",
            "description": "The disqualified officer's id.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Natural officer's disqualifications returned",
            "schema": {
              "$ref": "#/definitions/naturalDisqualification"
            },
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "operationId": "getNaturalDisqualification"
      }
    },
    "/disqualified-officers/corporate/{officer_id}": {
      "get": {
        "summary": "Get a corporate officers disqualifications",
        "description": "Get a corporate officer's disqualifications",
        "x-operationName": "get corporate officer",
        "tags": ["officerDisqualifications"],
        "parameters": [
          {
            "description": "The disqualified officer id.",
            "name": "officer_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Corporate officer's disqualifications returned",
            "schema": {
              "$ref": "#/definitions/corporateDisqualification"
            },
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "operationId": "getCorporateDisqualification"
      }
    },
    "/officers/{officer_id}/appointments": {
      "get": {
        "summary": "Officer Appointment List",
        "tags": ["officerAppointments"],
        "x-operationName": "list",
        "description": "List of all officer appointments",
        "parameters": [
          {
            "name": "officer_id",
            "in": "path",
            "description": "The officer id of the appointment list being requested.",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Use “active” to return only active appointments.",
            "type": "string"
          },
          {
            "name": "items_per_page",
            "in": "query",
            "description": "The number of appointments to return per page.",
            "type": "integer",
            "required": false
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "The first row of data to retrieve, starting at 0. Use this parameter as a pagination mechanism along with the items_per_page parameter.",
            "type": "integer",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "List the officer appointments",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/appointmentList"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorised"
          }
        },
        "operationId": "listOfficerAppointments"
      }
    },
    "/company/{company_number}/charges": {
      "get": {
        "summary": "Charges",
        "description": "List of charges for a company.",
        "x-operationName": "list",
        "tags": ["charges"],
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "description": "The company number that the charge list is required for.",
            "required": true,
            "type": "string"
          },
          {
            "title": "items_per_page",
            "description": "The number of charges to return per page.",
            "type": "integer",
            "required": false,
            "in": "query",
            "name": "itemsPerPage"
          },
          {
            "title": "start_index",
            "description": "The index into the entire result set that this result page starts.",
            "type": "integer",
            "required": false,
            "in": "query",
            "name": "startIndex"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource returned",
            "schema": {
              "$ref": "#/definitions/chargeList"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "operationId": "listCharges"
      }
    },
    "/company/{company_number}/charges/{charge_id}": {
      "get": {
        "description": "Individual charge information for company.",
        "tags": ["charges"],
        "parameters": [
          {
            "name": "company_number",
            "description": "The company number that the charge is required for.",
            "required": true,
            "type": "string",
            "in": "path"
          },
          {
            "name": "charge_id",
            "description": "The id of the charge details that are required.",
            "required": true,
            "type": "string",
            "in": "path"
          },
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "charge_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource returned",
            "schema": {
              "$ref": "#/definitions/chargeDetails"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "operationId": "getCharge"
      }
    },
    "/company/{company_number}/insolvency": {
      "get": {
        "description": "Company insolvency information",
        "tags": ["insolvency"],
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "description": "The company number of the basic information to return.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Company insolvency resource returned",
            "schema": {
              "$ref": "#/definitions/companyInsolvency"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "operationId": "getInsolvency"
      }
    },
    "/company/{company_number}/uk-establishments": {
      "get": {
        "summary": "Company UK Establishments",
        "description": "List of uk-establishments companies",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "description": "Company number",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["UKEstablishments"],
        "responses": {
          "200": {
            "description": "Resource returned",
            "schema": {
              "$ref": "#/definitions/companyUKEstablishments"
            }
          },
          "401": {
            "description": "Unauthorised"
          }
        },
        "operationId": "listUkEstablishments"
      }
    },
    "/company/{company_number}/persons-with-significant-control": {
      "get": {
        "summary": "List the company persons with significant control",
        "description": "List of all persons with significant control (not statements)",
        "x-operationName": "list",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "description": "The company number of the persons with significant control list being requested.",
            "required": true,
            "type": "string"
          },
          {
            "name": "items_per_page",
            "in": "query",
            "description": "The number of persons with significant control to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "The offset into the entire result set that this page starts.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "register_view",
            "in": "query",
            "description": "Display register specific information. If register is held at Companies House and register_view is set to true, only PSCs which are active or were terminated during election period are shown. Accepted values are: -`true`  \n -`false`  \n Defaults to false.",
            "required": false,
            "type": "string"
          }
        ],
        "tags": ["personsWithSignificantControl"],
        "responses": {
          "200": {
            "description": "readCompanyProfile",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/list"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "operationId": "listPersonsWithSignificantControl"
      }
    },
    "/company/{company_number}/persons-with-significant-control/individual/{notification_id}": {
      "get": {
        "summary": "Get the individual person with significant control notification",
        "description": "Get details of the individual person with significant control notification",
        "x-operationName": "get individual",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "description": "The company number of the person with significant control details being requested.",
            "required": true,
            "type": "string"
          },
          {
            "name": "notification_id",
            "in": "path",
            "description": "The notification id of the person with significant control notification being requested.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["personsWithSignificantControl"],
        "responses": {
          "200": {
            "description": "IndividualPSC resource returned",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/individual"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "operationId": "getIndividualPsc"
      }
    },
    "/company/{company_number}/persons-with-significant-control/individual-beneficial-owner/{notification_id}": {
      "get": {
        "summary": "Get the individual beneficial owner notification",
        "description": "Get details of an individual beneficial owner notification",
        "x-operationName": "get individual beneficial owner",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "description": "The company number of the individual beneficial owner details being requested.",
            "required": true,
            "type": "string"
          },
          {
            "name": "notification_id",
            "in": "path",
            "description": "The notification id of the individual beneficial owner notification being requested.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["personsWithSignificantControl"],
        "responses": {
          "200": {
            "description": "IndividualBO resource returned",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/individualBeneficialOwner"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "operationId": "getIndividualBeneficialOwner"
      }
    },
    "/company/{company_number}/persons-with-significant-control/corporate-entity/{notification_id}": {
      "get": {
        "summary": "Get the corporate entity with significant control notification",
        "description": "Get details of a corporate entity with significant control notification",
        "x-operationName": "get corporate entities",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "description": "The company number of the corporate entity with significant control details being requested.",
            "required": true,
            "type": "string"
          },
          {
            "name": "notification_id",
            "in": "path",
            "description": "The notification id of the corporate entity with significant control notification being requested.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["personsWithSignificantControl"],
        "responses": {
          "200": {
            "description": "CorporateEntityPSC resource returned",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/corporateEntity"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "operationId": "getCorporateEntityPsc"
      }
    },
    "/company/{company_number}/persons-with-significant-control/corporate-entity-beneficial-owner/{notification_id}": {
      "get": {
        "summary": "Get the corporate entity beneficial owner notification",
        "description": "Get details of the corporate entity beneficial owner notification",
        "x-operationName": "get corporate entity beneficial owner",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "description": "The company number of the corporate entity beneficial owner details being requested.",
            "required": true,
            "type": "string"
          },
          {
            "name": "notification_id",
            "in": "path",
            "description": "The notification id of the corporate entity beneficial owner notification being requested.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["personsWithSignificantControl"],
        "responses": {
          "200": {
            "description": "CorporateEntityBO resource returned",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/corporateEntityBeneficialOwner"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "operationId": "getCorporateEntityBeneficialOwner"
      }
    },
    "/company/{company_number}/persons-with-significant-control/legal-person/{notification_id}": {
      "get": {
        "summary": "Get the legal person with significant control notification",
        "description": "Get details of the legal person with significant control notification",
        "x-operationName": "get legal persons",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "description": "The company number of the legal person with significant control details being requested.",
            "required": true,
            "type": "string"
          },
          {
            "name": "notification_id",
            "in": "path",
            "description": "The notification id of the legal person with significant control notification being requested.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["personsWithSignificantControl"],
        "responses": {
          "200": {
            "description": "LegalPersonPSC resource returned",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/legalPerson"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "operationId": "getLegalPersonPsc"
      }
    },
    "/company/{company_number}/persons-with-significant-control/legal-person-beneficial-owner/{notification_id}": {
      "get": {
        "summary": "Get the legal person beneficial owner notification",
        "description": "Get details of the legal person beneficial owner notification",
        "x-operationName": "get legal person beneficial owner",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "description": "The company number of the legal person beneficial owner details being requested.",
            "required": true,
            "type": "string"
          },
          {
            "name": "notification_id",
            "in": "path",
            "description": "The notification id of the legal person beneficial owner notification being requested.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["personsWithSignificantControl"],
        "responses": {
          "200": {
            "description": "LegalPersonBO resource returned",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/legalPersonBeneficialOwner"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "operationId": "getLegalPersonBeneficialOwner"
      }
    },
    "/company/{company_number}/persons-with-significant-control-statements": {
      "get": {
        "summary": "List the company persons with significant control statements",
        "description": "List of all persons with significant control statements",
        "x-operationName": "list statements",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "description": "The company number of the persons with significant control statements list being requested.",
            "required": true,
            "type": "string"
          },
          {
            "name": "items_per_page",
            "in": "query",
            "description": "The id of the legal person with significant control details being requested.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "The offset into the entire result set that this page starts.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "register_view",
            "in": "query",
            "description": "Display register specific information. If register is held at Companies House and register_view is set to true, only statements which are active or were withdrawn during election period are shown. Accepted values are: -`true`  \n -`false`  \n Defaults to false.",
            "required": false,
            "type": "query"
          }
        ],
        "tags": ["personsWithSignificantControl"],
        "responses": {
          "200": {
            "description": "CompanyPSCStatements resource returned",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/statementList"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "operationId": "listPscStatements"
      }
    },
    "/company/{company_number}/persons-with-significant-control-statements/{statement_id}": {
      "get": {
        "summary": "Get the person with significant control statement",
        "description": "Get details of a person with significant control statement",
        "x-operationName": "get statement",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "description": "The company number of the persons with significant control statements list being requested.",
            "required": true,
            "type": "string"
          },
          {
            "name": "statement_id",
            "in": "path",
            "description": "The id of the person with significant control statement details being requested.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["personsWithSignificantControl"],
        "responses": {
          "200": {
            "description": "PSCStatement resource returned",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/statement"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "operationId": "getPscStatement"
      }
    },
    "/company/{company_number}/persons-with-significant-control/super-secure/{super_secure_id}": {
      "get": {
        "summary": "Get the super secure person with significant control",
        "description": "Get details of a super secure person with significant control",
        "x-operationName": "get super secure person",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "description": "The company number of the super secure person with significant control details being requested.",
            "required": true,
            "type": "string"
          },
          {
            "name": "super_secure_id",
            "in": "path",
            "description": "The id of the super secure person with significant control details being requested.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["personsWithSignificantControl"],
        "responses": {
          "200": {
            "description": "SuperSecurePSC resource returned",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/superSecure"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "operationId": "getSuperSecurePsc"
      }
    },
    "/company/{company_number}/persons-with-significant-control/super-secure-beneficial-owner/{super_secure_id}": {
      "get": {
        "summary": "Get the super secure beneficial owner",
        "description": "Get details of a super secure beneficial owner",
        "x-operationName": "get super secure beneficial owner",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "description": "The company number of the super secure beneficial owner details being requested.",
            "required": true,
            "type": "string"
          },
          {
            "name": "super_secure_id",
            "in": "path",
            "description": "The id of the super secure beneficial owner details being requested.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["personsWithSignificantControl"],
        "responses": {
          "200": {
            "description": "SuperSecureBO resource returned",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/superSecureBeneficialOwner"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "operationId": "getSuperSecureBeneficialOwner"
      }
    },
    "/company/{company_number}/persons-with-significant-control/{psc_id}/notifications": {
      "get": {
        "summary": "Persons with significant control Notification List",
        "tags": ["personsWithSignificantControlNotifications"],
        "x-operationName": "list",
        "description": "List of all notifications of a specific person with significant control",
        "parameters": [
          {
            "name": "psc_id",
            "in": "path",
            "description": "The person with significant control id of the notification list being requested",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Use “active” to return only active notifications.",
            "type": "string"
          },
          {
            "name": "items_per_page",
            "in": "query",
            "description": "The number of notifications to return per page.",
            "type": "integer",
            "required": false
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "The first row of data to retrieve, starting at 0. Use this parameter as a pagination mechanism along with the items_per_page parameter.",
            "type": "integer",
            "required": false
          },
          {
            "name": "company_number",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List the person with significant control notifications",
            "schema": {
              "$ref": "#/definitions/notificationList"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorised"
          }
        },
        "operationId": "listPscNotifications"
      }
    },
    "/company/{company_number}/registered-office-address": {
      "get": {
        "summary": "Registered Office Address",
        "description": "Get the current address of a company",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "description": "Company number for registered office address",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["registeredOfficeAddress"],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/registeredOfficeAddress"
            }
          },
          "401": {
            "description": "Not authorised"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "operationId": "getRegisteredOfficeAddress"
      }
    },
    "/company/{company_number}": {
      "get": {
        "summary": "Company profile",
        "description": "Get the basic company information",
        "parameters": [
          {
            "name": "company_number",
            "in": "path",
            "description": "The company number of the basic information to return.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": ["companyProfile"],
        "responses": {
          "200": {
            "description": "readCompanyProfile",
            "headers": {
              "ETag": {
                "description": "The ETag of the resource.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/companyProfile"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "operationId": "getCompanyProfile"
      }
    }
  },
  "definitions": {
    "selfLink": {
      "required": ["self"],
      "properties": {
        "self": {
          "description": "URL to this resource.",
          "readOnly": true,
          "type": "string",
          "format": "uri"
        }
      }
    },
    "registeredOfficeAddress": {
      "title": "registeredOfficeAddress",
      "type": "object",
      "required": [
        "premises",
        "address_line_1",
        "locality",
        "country",
        "accept_appropriate_office_address_statement",
        "postal_code"
      ],
      "properties": {
        "etag": {
          "type": "string",
          "description": "The ETag of the resource.",
          "readOnly": true
        },
        "kind": {
          "type": "string",
          "description": "The type of resource.",
          "enum": ["registered-office-address"],
          "readOnly": true
        },
        "links": {
          "$ref": "#/definitions/selfLink"
        },
        "premises": {
          "type": "string",
          "description": "The property name or number."
        },
        "address_line_1": {
          "type": "string",
          "description": "The first line of the address."
        },
        "address_line_2": {
          "type": "string",
          "description": "The second line of the address."
        },
        "locality": {
          "type": "string",
          "description": "The locality e.g London."
        },
        "region": {
          "type": "string",
          "description": "The region e.g Surrey."
        },
        "postal_code": {
          "type": "string",
          "description": "The postal code e.g CF14 3UZ."
        },
        "country": {
          "type": "string",
          "description": "The country.",
          "enum": [
            "England",
            "Wales",
            "Scotland",
            "Northern Ireland",
            "Great Britain",
            "United Kingdom",
            "Not specified"
          ]
        },
        "accept_appropriate_office_address_statement": {
          "type": "boolean",
          "description": "Setting this to true confirms  that the new registered office address is an appropriate address as outlined in section 86(2) of the Companies Act 2006."
        }
      }
    },
    "accountingReferenceDate": {
      "title": "accountingReferenceDate",
      "type": "object",
      "required": ["day", "month"],
      "properties": {
        "day": {
          "type": "integer",
          "description": "The Accounting Reference Date (ARD) day."
        },
        "month": {
          "type": "integer",
          "description": "The Accounting Reference Date (ARD) month."
        }
      }
    },
    "lastAccounts": {
      "title": "lastAccounts",
      "properties": {
        "made_up_to": {
          "type": "string",
          "format": "date",
          "description": "Deprecated. Please use accounts.last_accounts.period_end_on"
        },
        "period_end_on": {
          "type": "string",
          "format": "date",
          "description": "The last day of the most recently filed accounting period."
        },
        "period_start_on": {
          "type": "string",
          "format": "date",
          "description": "The first day of the most recently filed accounting period."
        },
        "type": {
          "description": "The type of the last company accounts filed.  \n For enumeration descriptions see `account_type` section in the [enumeration mappings](https://github.com/companieshouse/api-enumerations/blob/master/constants.yml).    ",
          "enum": [
            "null",
            "full",
            "small",
            "medium",
            "group",
            "dormant",
            "interim",
            "initial",
            "total-exemption-full",
            "total-exemption-small",
            "partial-exemption",
            "audit-exemption-subsidiary",
            "filing-exemption-subsidiary",
            "micro-entity",
            "no-accounts-type-available",
            "audited-abridged",
            "unaudited-abridged"
          ]
        }
      },
      "type": "string",
      "required": ["type", "made_up_to"]
    },
    "nextAccounts": {
      "title": "nextAccounts",
      "type": "object",
      "properties": {
        "due_on": {
          "description": "The date the next company accounts are due",
          "type": "string",
          "format": "date"
        },
        "overdue": {
          "description": "Flag indicating if the company accounts are overdue.",
          "type": "boolean"
        },
        "period_end_on": {
          "description": "The last day of the next accounting period to be filed.",
          "type": "string",
          "format": "date"
        },
        "period_start_on": {
          "description": "The first day of the next accounting period to be filed.",
          "type": "string",
          "format": "date"
        }
      }
    },
    "accountsInformation": {
      "title": "accountsInformation",
      "type": "object",
      "required": ["overdue", "next_made_up_to", "accounting_reference_date"],
      "properties": {
        "accounting_reference_date": {
          "$ref": "#/definitions/accountingReferenceDate"
        },
        "last_accounts": {
          "$ref": "#/definitions/lastAccounts"
        },
        "next_due": {
          "description": "Deprecated. Please use accounts.next_accounts.due_on",
          "type": "string",
          "format": "date"
        },
        "next_made_up_to": {
          "description": "Deprecated. Please use accounts.next_accounts.period_end_on",
          "type": "string",
          "format": "date"
        },
        "overdue": {
          "type": "boolean",
          "description": "Deprecated. Please use accounts.next_accounts.overdue"
        },
        "next_accounts": {
          "$ref": "#/definitions/nextAccounts"
        }
      }
    },
    "annualReturnInformation": {
      "title": "annualReturnInformation",
      "type": "object",
      "properties": {
        "last_made_up_to": {
          "description": "The date the last annual return was made up to.",
          "type": "string",
          "format": "date"
        },
        "next_due": {
          "description": "The date the next annual return is due. This member will only be returned if a confirmation statement has not been filed and the date is before 28th July 2016, otherwise refer to `confirmation_statement.next_due`",
          "type": "string",
          "format": "date"
        },
        "next_made_up_to": {
          "description": "The date the next annual return should be made up to. This member will only be returned if a confirmation statement has not been filed and the date is before 30th July 2016, otherwise refer to `confirmation_statement.next_made_up_to`",
          "type": "string",
          "format": "date"
        },
        "overdue": {
          "description": "Flag indicating if the annual return is overdue.",
          "type": "boolean"
        }
      }
    },
    "confirmationOfStatementInformation": {
      "title": "confirmationOfStatementInformation",
      "required": ["next_made_up_to", "next_due"],
      "properties": {
        "last_made_up_to": {
          "description": "The date to which the company last made a confirmation statement.",
          "type": "string",
          "format": "date"
        },
        "next_due": {
          "description": "The date by which the next confimation statement must be received.",
          "type": "string",
          "format": "date"
        },
        "next_made_up_to": {
          "description": "The date to which the company must next make a confirmation statement.",
          "type": "string",
          "format": "date"
        },
        "overdue": {
          "description": "Flag indicating if the confirmation statement is overdue",
          "type": "boolean"
        }
      }
    },
    "originatingRegistry": {
      "title": "originatingRegistry",
      "properties": {
        "country": {
          "description": "Country in which company was incorporated.",
          "type": "string"
        },
        "name": {
          "description": "Identity of register in country of incorporation.",
          "type": "string"
        }
      }
    },
    "accountPeriodFrom": {
      "title": "accountPeriodFrom",
      "properties": {
        "day": {
          "description": "Day on which accounting period starts under parent law.",
          "type": "integer"
        },
        "month": {
          "description": "Month in which accounting period starts under parent law.",
          "type": "integer"
        }
      }
    },
    "accountPeriodTo": {
      "title": "accountPeriodTo",
      "properties": {
        "day": {
          "description": "Day on which accounting period ends under parent law.",
          "type": "integer"
        },
        "month": {
          "description": "Month in which accounting period ends under parent law.",
          "type": "integer"
        }
      }
    },
    "fileWithin": {
      "title": "fileWithin",
      "properties": {
        "months": {
          "description": "Number of months within which to file.",
          "type": "integer"
        }
      }
    },
    "accountInformation": {
      "title": "accountInformation",
      "properties": {
        "account_period_from:": {
          "$ref": "#/definitions/accountPeriodFrom"
        },
        "account_period_to": {
          "$ref": "#/definitions/accountPeriodTo"
        },
        "must_file_within": {
          "$ref": "#/definitions/fileWithin"
        }
      }
    },
    "accountsRequired": {
      "title": "accountsRequired",
      "properties": {
        "foreign_account_type": {
          "description": "Type of accounting requirement that applies.  \n For enumeration descriptions see `foreign_account_type` section in the [enumeration mappings] (https://github.com/companieshouse/api-enumerations/blob/master/constants.yml).  ",
          "enum": [
            "accounting-requirements-of-originating-country-apply",
            "accounting-requirements-of-originating-country-do-not-apply"
          ],
          "type": "string"
        },
        "terms_of_account_publication": {
          "description": "Describes how the publication date is derived.  \n For enumeration descriptions see `terms_of_account_publication` section in the [enumeration mappings] (https://github.com/companieshouse/api-enumerations/blob/master/constants.yml).  ",
          "enum": [
            "accounts-publication-date-supplied-by-company",
            "accounting-publication-date-does-not-need-to-be-supplied-by-company",
            "accounting-reference-date-allocated-by-companies-house"
          ],
          "type": "string"
        }
      }
    },
    "foreignCompanyDetails": {
      "title": "foreignCompanyDetails",
      "properties": {
        "originating_registry": {
          "$ref": "#/definitions/originatingRegistry"
        },
        "registration_number": {
          "description": "Registration number in company of incorporation.",
          "type": "string"
        },
        "governed_by": {
          "description": "Law governing the company in country of incorporation.",
          "type": "string"
        },
        "company_type": {
          "description": "Legal form of the company in the country of incorporation.",
          "type": "string"
        },
        "is_a_credit_finance_institution": {
          "description": "Is it a financial or credit institution.",
          "type": "boolean"
        },
        "accounts": {
          "$ref": "#/definitions/accountInformation"
        },
        "business_activity": {
          "description": "Type of business undertaken by the company.",
          "type": "string"
        },
        "accounting_requirement": {
          "$ref": "#/definitions/accountsRequired"
        }
      }
    },
    "registeredOfficeAddress-2": {
      "title": "registeredOfficeAddress",
      "properties": {
        "care_of": {
          "description": "The care of name.",
          "type": "string"
        },
        "address_line_1": {
          "description": "The first line of the address.",
          "type": "string"
        },
        "address_line_2": {
          "description": "The second line of the address.",
          "type": "string"
        },
        "country": {
          "description": "The country.",
          "enum": [
            "Wales",
            "England",
            "Scotland",
            "Great Britain",
            "Not specified",
            "United Kingdom",
            "Northern Ireland"
          ],
          "type": "string"
        },
        "locality": {
          "description": "The locality e.g London.",
          "type": "string"
        },
        "po_box": {
          "description": "The post-office box number.",
          "type": "string"
        },
        "postal_code": {
          "description": "The postal code e.g CF14 3UZ.",
          "type": "string"
        },
        "premises": {
          "description": "The property name or number.",
          "type": "string"
        },
        "region": {
          "description": "The region e.g Surrey.",
          "type": "string"
        }
      }
    },
    "serviceAddress": {
      "title": "serviceAddress",
      "properties": {
        "care_of": {
          "description": "The care of name.",
          "type": "string"
        },
        "address_line_1": {
          "description": "The first line of the address.",
          "type": "string"
        },
        "address_line_2": {
          "description": "The second line of the address.",
          "type": "string"
        },
        "country": {
          "description": "The country e.g. United Kingdom.",
          "type": "string"
        },
        "locality": {
          "description": "The locality e.g London.",
          "type": "string"
        },
        "po_box": {
          "description": "The post-office box number.",
          "type": "string"
        },
        "postal_code": {
          "description": "The postal code e.g CF14 3UZ.",
          "type": "string"
        },
        "region": {
          "description": "The region e.g Surrey.",
          "type": "string"
        }
      }
    },
    "previousCompanyNames": {
      "title": "previousCompanyNames",
      "properties": {
        "name": {
          "description": "The previous company name",
          "type": "string"
        },
        "effective_from": {
          "description": "The date from which the company name was effective.",
          "type": "string",
          "format": "date"
        },
        "ceased_on": {
          "description": "The date on which the company name ceased.",
          "type": "string",
          "format": "date"
        }
      },
      "required": ["name", "effective_from", "ceased_on"]
    },
    "corporateAnnotation": {
      "title": "corporateAnnotation",
      "properties": {
        "created_on": {
          "description": "The date on which the corporate annotation was created.",
          "type": "string",
          "format": "date"
        },
        "description": {
          "description": "The details of a corporate annotation which has a corporate_annotation.type of “other”.",
          "type": "string"
        },
        "type": {
          "description": "The type of corporate annotation.  \n For enumeration descriptions see `corporate_annotation_type` section in the [enumeration mappings] (https://github.com/companieshouse/api-enumerations/blob/master/constants.yml).  ",
          "type": "string"
        }
      },
      "required": ["created_on", "type"]
    },
    "branchCompanyDetails": {
      "title": "branchCompanyDetails",
      "properties": {
        "business_activity": {
          "description": "Type of business undertaken by the UK establishment.",
          "type": "string"
        },
        "parent_company_number": {
          "description": "Parent company number.",
          "type": "string"
        },
        "parent_company_name": {
          "description": "Parent company name.",
          "type": "string"
        }
      }
    },
    "linksType": {
      "title": "linksType",
      "required": ["self"],
      "properties": {
        "self": {
          "description": "The URL of the resource.",
          "type": "string"
        },
        "persons_with_significant_control": {
          "description": "The URL of the persons with significant control list resource.",
          "type": "string"
        },
        "persons_with_significant_control_statements": {
          "description": "The URL of the persons with significant control statements list resource.",
          "type": "string"
        },
        "registers": {
          "description": "The URL of the registers resource for this company",
          "type": "string"
        },
        "uk-establishments": {
          "description": "The URL of the uk establishments list resource for this company.",
          "type": "string"
        },
        "overseas": {
          "description": "The URL of the overseas details resource for this company.",
          "type": "string"
        },
        "officers": {
          "description": "The URL of the company's officer list resource.",
          "type": "string"
        },
        "insolvency": {
          "description": "The URL of the company's insolvency list resource.",
          "type": "string"
        },
        "filing_history": {
          "description": "The URL of the company's filing history list resource.",
          "type": "string"
        },
        "charges": {
          "description": "The URL of the company's charges list resource.",
          "type": "string"
        },
        "exemptions": {
          "description": "The URL of the company's exemptions list resource.",
          "type": "string"
        }
      }
    },
    "companyProfile": {
      "title": "companyProfile",
      "required": ["company_name", "company_number", "type", "can_file", "links"],
      "properties": {
        "accounts": {
          "$ref": "#/definitions/accountsInformation"
        },
        "annual_return": {
          "$ref": "#/definitions/annualReturnInformation"
        },
        "can_file": {
          "description": "Flag indicating whether this company can file.",
          "type": "boolean"
        },
        "confirmation_statement": {
          "$ref": "#/definitions/confirmationOfStatementInformation"
        },
        "company_name": {
          "description": "The name of the company.",
          "type": "string"
        },
        "jurisdiction": {
          "description": "The jurisdiction specifies the political body responsible for the company.",
          "type": "string",
          "enum": [
            "england-wales",
            "wales",
            "scotland",
            "northern-ireland",
            "european-union",
            "united-kingdom",
            "england",
            "noneu"
          ]
        },
        "company_number": {
          "description": "The number of the company.",
          "type": "string"
        },
        "date_of_creation": {
          "description": "The date when the company was created.",
          "type": "string",
          "format": "date"
        },
        "date_of_cessation": {
          "description": "The date which the company was converted/closed, dissolved or removed. Please refer to company status to determine which.",
          "type": "string",
          "format": "date"
        },
        "etag": {
          "description": "The ETag of the resource.",
          "type": "string"
        },
        "has_been_liquidated": {
          "description": "Deprecated. Please use links.insolvency",
          "type": "boolean"
        },
        "has_charges": {
          "description": "Deprecated. Please use links.charges",
          "type": "boolean"
        },
        "is_community_interest_company": {
          "description": "Deprecated. Please use subtype",
          "type": "boolean"
        },
        "subtype": {
          "description": "The subtype of the company. Possible values are:",
          "enum": ["community-interest-company", "private-fund-limited-partnership"],
          "type": "string"
        },
        "partial_data_available": {
          "description": "Returned if Companies House is not the primary source of data for this company.\nFor enumeration descriptions see partial_data_available section in the enumeration mappings (https://github.com/companieshouse/api-enumerations/blob/master/constants.yml).",
          "enum": [
            "full-data-available-from-financial-conduct-authority",
            "full-data-available-from-department-of-the-economy",
            "full-data-available-from-the-company"
          ],
          "type": "string"
        },
        "external_registration_number": {
          "description": "The number given by an external registration body.",
          "type": "string"
        },
        "foreign_company_details": {
          "$ref": "#/definitions/foreignCompanyDetails"
        },
        "last_full_members_list_date": {
          "description": "The date of last full members list update.",
          "type": "string",
          "format": "date"
        },
        "registered_office_address": {
          "$ref": "#/definitions/registeredOfficeAddress-2"
        },
        "service_address": {
          "$ref": "#/definitions/serviceAddress"
        },
        "super_secure_managing_officer_count": {
          "description": "The total count of super secure managing officers for a `registered-overseas-entity`.",
          "type": "integer"
        },
        "sic_codes": {
          "description": "SIC codes for this company.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "previous_company_names": {
          "description": "The previous names of this company.",
          "items": {
            "$ref": "#/definitions/previousCompanyNames"
          },
          "type": "array"
        },
        "corporate_annotation": {
          "description": "A corporate level message published by Companies House about a company, or situations affecting the company, or its information.",
          "items": {
            "$ref": "#/definitions/corporateAnnotation"
          },
          "type": "array"
        },
        "company_status": {
          "description": "The status of the company.  \n For enumeration descriptions see `company_status` section in the [enumeration mappings] (https://github.com/companieshouse/api-enumerations/blob/master/constants.yml)  ",
          "type": "string",
          "enum": [
            "active",
            "dissolved",
            "liquidation",
            "receivership",
            "administration",
            "voluntary-arrangement",
            "converted-closed",
            "insolvency-proceedings",
            "registered",
            "removed",
            "closed",
            "open"
          ]
        },
        "company_status_detail": {
          "description": "Extra details about the status of the company.  \n For enumeration descriptions see `company_status_detail` section in the [enumeration mappings](https://github.com/companieshouse/api-enumerations/blob/master/constants.yml).  ",
          "enum": [
            "transferred-from-uk",
            "active-proposal-to-strike-off",
            "petition-to-restore-dissolved",
            "transformed-to-se",
            "converted-to-plc"
          ],
          "type": "string"
        },
        "type": {
          "description": "The type of the company.  \n For enumeration descriptions see `company_type` section in the [enumeration mappings](https://github.com/companieshouse/api-enumerations/blob/master/constants.yml)    ",
          "enum": [
            "private-unlimited",
            "ltd",
            "plc",
            "old-public-company",
            "private-limited-guarant-nsc-limited-exemption",
            "limited-partnership",
            "private-limited-guarant-nsc",
            "converted-or-closed",
            "private-unlimited-nsc",
            "private-limited-shares-section-30-exemption",
            "protected-cell-company",
            "assurance-company",
            "oversea-company",
            "eeig",
            "icvc-securities",
            "icvc-warrant",
            "icvc-umbrella",
            "registered-society-non-jurisdictional",
            "industrial-and-provident-society",
            "northern-ireland",
            "northern-ireland-other",
            "royal-charter",
            "investment-company-with-variable-capital",
            "unregistered-company",
            "llp",
            "other",
            "european-public-limited-liability-company-se",
            "uk-establishment",
            "scottish-partnership",
            "charitable-incorporated-organisation",
            "scottish-charitable-incorporated-organisation",
            "further-education-or-sixth-form-college-corporation",
            "registered-overseas-entity"
          ],
          "type": "string"
        },
        "has_insolvency_history": {
          "description": "Deprecated. Please use links.insolvency",
          "type": "boolean"
        },
        "undeliverable_registered_office_address": {
          "description": "Flag indicating whether post can be delivered to the registered office.",
          "type": "boolean"
        },
        "registered_office_is_in_dispute": {
          "description": "Flag indicating registered office address as been replaced.",
          "type": "boolean"
        },
        "branch_company_details": {
          "description": "UK branch of a foreign company.",
          "items": {
            "$ref": "#/definitions/branchCompanyDetails"
          }
        },
        "links": {
          "$ref": "#/definitions/linksType"
        }
      }
    },
    "CommonSearch": {
      "properties": {
        "total_results": {
          "type": "integer",
          "description": "The number of further search results available for the current search."
        },
        "start_index": {
          "type": "integer",
          "description": "The index into the entire result set that this result page starts."
        },
        "items_per_page": {
          "type": "integer",
          "description": "The number of search items returned per page."
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the resource"
        }
      }
    },
    "LinksModel": {
      "title": "LinksModel",
      "properties": {
        "self": {
          "type": "string",
          "description": "The URL of the resource being returned by the search item."
        }
      }
    },
    "MatchesModel": {
      "title": "MatchesModel",
      "properties": {
        "title": {
          "items": {
            "type": "integer"
          },
          "type": "array",
          "description": "An array of character offset into the `title` string. These always occur in pairs and define the start and end of substrings in the member `title` that matched the search terms. The first character of the string is index 1."
        },
        "snippet": {
          "items": {
            "type": "integer"
          },
          "type": "array",
          "description": "An array of character offset into the `snippet` string. These always occur in pairs and define the start and end of substrings in the member `snippet` that matched the search terms. The first character of the string is index 1."
        },
        "address_snippet": {
          "items": {
            "type": "integer"
          },
          "type": "array",
          "description": "An array of character offset into the `address_snippet` string. These always occur in pairs and define the start and end of substrings in the member `address_snippet` that matched the search terms."
        }
      }
    },
    "CommonSearchItems": {
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the search result."
        },
        "address_snippet": {
          "type": "string",
          "description": "A single line address. This will be the address that matched within the indexed document or the primary address otherwise (as returned by the `address` member)."
        },
        "links": {
          "$ref": "#/definitions/LinksModel"
        },
        "description": {
          "type": "string",
          "description": "The result description."
        },
        "snippet": {
          "type": "string",
          "description": "Summary information for the result showing additional details that have matched."
        },
        "matches": {
          "$ref": "#/definitions/MatchesModel"
        }
      }
    },
    "registeredOfficeAddress-3": {
      "title": "registeredOfficeAddress",
      "required": ["address_line_1"],
      "properties": {
        "address_line_1": {
          "description": "The first line of the address.",
          "type": "string"
        },
        "address_line_2": {
          "description": "The second line of the address.",
          "type": "string"
        },
        "country": {
          "description": "The country.",
          "enum": [
            "Wales",
            "England",
            "Scotland",
            "Great Britain",
            "Not specified",
            "United Kingdom",
            "Northern Ireland"
          ],
          "type": "string"
        },
        "locality": {
          "description": "The locality e.g London.",
          "type": "string"
        },
        "po_box": {
          "description": "The post-office box number.",
          "type": "string"
        },
        "postal_code": {
          "description": "The postal code e.g CF14 3UZ.",
          "type": "string"
        },
        "care_of": {
          "description": "The care of name.",
          "type": "string"
        },
        "region": {
          "description": "The region e.g Surrey.",
          "type": "string"
        }
      }
    },
    "SearchItems": {
      "title": "SearchItems",
      "allOf": [
        {
          "$ref": "#/definitions/CommonSearchItems"
        }
      ],
      "required": ["kind", "title", "address_snippet", "links", "address"],
      "properties": {
        "kind": {
          "type": "string",
          "description": "The type of search result. Refer to the full resource descriptions [CompanySearch resource](api/docs/company/company_number/CompanySearch-resource.html)  [OfficerSearch resource] (api/docs/company/company_number/OfficerSearch-resource.html) and [DisqualifiedOfficerSearch resource](api/docs/company/company_number/DisqualifiedOfficerSearch-resource.html) for the full list of members returned.",
          "enum": [
            "searchresults#company",
            "searchresults#officer",
            "searchresults#persons-with-significant-control",
            "searchresults#disqualified-officer"
          ]
        },
        "description_identifier": {
          "items": {
            "type": "string",
            "enum": [
              "incorporated-on",
              "registered-on",
              "formed-on",
              "dissolved-on",
              "converted-closed-on",
              "closed-on",
              "closed",
              "first-uk-establishment-opened-on",
              "opened-on",
              "voluntary-arrangement",
              "receivership",
              "insolvency-proceedings",
              "liquidation",
              "administration",
              "appointment-count",
              "born-on",
              "registered",
              "removed"
            ]
          },
          "type": "array",
          "description": "An array of enumeration types that make up the search description. See search_descriptions_raw.yaml in api-enumerations"
        },
        "address": {
          "$ref": "#/definitions/registeredOfficeAddress-3"
        }
      }
    },
    "Search": {
      "title": "Search",
      "allOf": [
        {
          "$ref": "#/definitions/CommonSearch"
        }
      ],
      "properties": {
        "kind": {
          "type": "string",
          "description": "The type of search response returned.",
          "enum": ["search#all"]
        },
        "items": {
          "type": "array",
          "description": "The results of the completed search. See `items.kind` for details of each specific result resource returned.,",
          "items": {
            "$ref": "#/definitions/SearchItems"
          }
        }
      }
    },
    "CompanySearchItems": {
      "title": "CompanySearchItems",
      "allOf": [
        {
          "$ref": "#/definitions/CommonSearchItems"
        }
      ],
      "required": [
        "kind",
        "title",
        "address_snippet",
        "links",
        "company_number",
        "date_of_creation",
        "company_type",
        "company_status",
        "address"
      ],
      "properties": {
        "kind": {
          "type": "string",
          "description": "The type of search result.",
          "enum": ["searchresults#company"]
        },
        "description_identifier": {
          "items": {
            "type": "string",
            "enum": [
              "incorporated-on",
              "registered-on",
              "formed-on",
              "dissolved-on",
              "converted-closed-on",
              "closed-on",
              "closed",
              "first-uk-establishment-opened-on",
              "opened-on",
              "voluntary-arrangement",
              "receivership",
              "insolvency-proceedings",
              "liquidation",
              "administration",
              "registered",
              "removed"
            ]
          },
          "type": "array",
          "description": "An array of enumeration types that make up the search description. See search_descriptions_raw.yaml in api-enumerations"
        },
        "company_number": {
          "type": "string",
          "description": "The company registration / incorporation number of the company."
        },
        "date_of_creation": {
          "type": "string",
          "format": "date",
          "description": "The date the company was created."
        },
        "date_of_cessation": {
          "type": "string",
          "format": "date",
          "description": "The date the company ended."
        },
        "company_type": {
          "type": "string",
          "enum": [
            "private-unlimited",
            "ltd",
            "plc",
            "old-public-company",
            "private-limited-guarant-nsc-limited-exemption",
            "limited-partnership",
            "private-limited-guarant-nsc",
            "converted-or-closed",
            "private-unlimited-nsc",
            "private-limited-shares-section-30-exemption",
            "assurance-company",
            "oversea-company",
            "eeig",
            "icvc-securities",
            "icvc-warrant",
            "icvc-umbrella",
            "industrial-and-provident-society",
            "northern-ireland",
            "northern-ireland-other",
            "royal-charter",
            "investment-company-with-variable-capital",
            "unregistered-company",
            "llp",
            "other",
            "european-public-limited-liability-company-se",
            "registered-overseas-entity"
          ],
          "description": "The company type."
        },
        "company_status": {
          "type": "string",
          "enum": [
            "active",
            "dissolved",
            "liquidation",
            "receivership",
            "administration",
            "voluntary-arrangement",
            "converted-closed",
            "insolvency-proceedings",
            "registered",
            "removed"
          ],
          "description": "The company status."
        },
        "address": {
          "$ref": "#/definitions/registeredOfficeAddress-3"
        }
      }
    },
    "CompanySearch": {
      "title": "CompanySearch",
      "allOf": [
        {
          "$ref": "#/definitions/CommonSearch"
        }
      ],
      "properties": {
        "kind": {
          "type": "string",
          "description": "The type of search response returned.",
          "enum": ["search#companies"]
        },
        "items": {
          "type": "array",
          "description": "The results of the completed search.",
          "items": {
            "$ref": "#/definitions/CompanySearchItems"
          }
        }
      }
    },
    "OfficerDateOfBirth": {
      "title": "OfficerDateOfBirth",
      "required": ["month", "year"],
      "properties": {
        "month": {
          "description": "The month the officer was born in.",
          "type": "integer"
        },
        "year": {
          "description": "The year the officer was born in.",
          "type": "integer"
        }
      }
    },
    "OfficerAddress": {
      "title": "OfficerAddress",
      "properties": {
        "address_line_1": {
          "description": "The first line of the address.",
          "type": "string"
        },
        "address_line_2": {
          "description": "The second line of the address.",
          "type": "string"
        },
        "care_of": {
          "description": "The care of name.",
          "type": "string"
        },
        "country": {
          "description": "The country. For example UK.",
          "type": "string"
        },
        "locality": {
          "description": "The locality. For example London.",
          "type": "string"
        },
        "po_box": {
          "description": "The post-office box number.",
          "type": "string"
        },
        "postal_code": {
          "description": "The postal code. For example CF14 3UZ.",
          "type": "string"
        },
        "premises": {
          "description": "The property name or number.",
          "type": "string"
        },
        "region": {
          "description": "The region. For example Surrey.",
          "type": "string"
        }
      }
    },
    "OfficerSearchItems": {
      "title": "OfficerSearchItems",
      "allOf": [
        {
          "$ref": "#/definitions/CommonSearchItems"
        }
      ],
      "required": [
        "appointment_count",
        "description",
        "kind",
        "title",
        "address_snippet",
        "address"
      ],
      "properties": {
        "kind": {
          "type": "string",
          "description": "Describes the type of result returned.",
          "enum": ["searchresults#officer"]
        },
        "date_of_birth": {
          "description": "The officer date of birth details.",
          "items": {
            "$ref": "#/definitions/OfficerDateOfBirth"
          }
        },
        "appointment_count": {
          "type": "integer",
          "description": "The total number of appointments the officer has."
        },
        "description_identifiers": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": ["appointment-count", "born-on"]
          },
          "description": "An array of enumeration types that make up the search description. See search_descriptions_raw.yaml in api-enumerations."
        },
        "address": {
          "$ref": "#/definitions/OfficerAddress"
        }
      }
    },
    "OfficerSearch": {
      "title": "OfficerSearch",
      "allOf": [
        {
          "$ref": "#/definitions/CommonSearch"
        }
      ],
      "required": ["kind"],
      "properties": {
        "kind": {
          "type": "string",
          "description": "The type of response returned.",
          "enum": ["search#officers"]
        },
        "items": {
          "type": "array",
          "description": "The results of the completed search.",
          "items": {
            "$ref": "#/definitions/OfficerSearchItems"
          }
        }
      }
    },
    "DisqualifiedOfficerAddress": {
      "title": "DisqualifiedOfficerAddress",
      "properties": {
        "address_line_1": {
          "description": "The first line of the address.",
          "type": "string"
        },
        "address_line_2": {
          "description": "The second line of the address.",
          "type": "string"
        },
        "country": {
          "description": "The country. For example UK.",
          "type": "string"
        },
        "locality": {
          "description": "The locality. For example London.",
          "type": "string"
        },
        "postal_code": {
          "description": "The postal code. For example CF14 3UZ.",
          "type": "string"
        },
        "premises": {
          "description": "The property name or number.",
          "type": "string"
        },
        "region": {
          "description": "The region. For example Surrey.",
          "type": "string"
        }
      }
    },
    "DisqualifiedOfficerSearchItems": {
      "title": "DisqualifiedOfficerSearchItems",
      "allOf": [
        {
          "$ref": "#/definitions/CommonSearchItems"
        }
      ],
      "required": ["kind", "title", "description", "address", "address_snippet"],
      "properties": {
        "kind": {
          "type": "string",
          "description": "Describes the type of result returned.",
          "enum": ["searchresults#disqualified-officer"]
        },
        "date_of_birth": {
          "type": "string",
          "format": "date",
          "description": "The disqualified officer's date of birth."
        },
        "description_identifiers": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": ["born-on"]
          },
          "description": "An array of enumeration types that make up the search description. See search_descriptions_raw.yaml in api-enumerations."
        },
        "address": {
          "$ref": "#/definitions/DisqualifiedOfficerAddress"
        }
      }
    },
    "DisqualifiedOfficerSearch": {
      "title": "DisqualifiedOfficerSearch",
      "allOf": [
        {
          "$ref": "#/definitions/CommonSearch"
        }
      ],
      "required": ["kind", "total_results", "start_index", "items_per_page"],
      "properties": {
        "kind": {
          "type": "string",
          "description": "The type of response returned.",
          "enum": ["search#disqualified-officers"]
        },
        "items": {
          "type": "array",
          "description": "The results of the completed search.",
          "items": {
            "$ref": "#/definitions/DisqualifiedOfficerSearchItems"
          }
        }
      }
    },
    "dissolved_company_registered_office_address": {
      "title": "Registered Office Address",
      "description": "This will only appear if there are ROA details in the company record",
      "properties": {
        "address_line_1": {
          "type": "string",
          "description": "The first line of the address e.g Crown Way"
        },
        "address_line_2": {
          "type": "string",
          "description": "The second line of the address"
        },
        "locality": {
          "type": "string",
          "description": "The town associated to the ROA e.g Cardiff"
        },
        "postal_code": {
          "type": "string",
          "description": "The postal code e.g CF14 3UZ"
        }
      }
    },
    "previous_company_name": {
      "title": "Previous company name",
      "properties": {
        "company_number": {
          "type": "string",
          "description": "The company number of the dissolved company"
[...]
